{% extends 'base.html' %}

{% block sidebar %}

<div class="sidebar-sticky sidebar full-height">
    <h5 class="pt-2 pl-3 text-light">Recent Notes</h5>
    <ul class="nav flex-column">
        {% for note in notes %}
        <li class="nav-item">
            <a class="nav-link" id="sidebar-link" href="#">
                {{ note.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
{% block home %}
<form class="pt-4 pr-3" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <input type="Text" class="form-control" name="title" placeholder="Title">
    </div>
    <div class="form-group">
        <textarea name="editor"></textarea>
    </div>
    <input type="submit" value="submit" class="btn btn-outline-success">
</form>
{% endblock %}